# This program and the accompanying materials are made available under the
# terms of the MIT license (X11 license) which accompanies this distribution.

# Author: Christoff Bürger

# Ignore backup files of common text editors:
**/*~
# Ignore macOS "Desktop Services Store" configuration files:
**/.DS_Store
# Ignore generated artefacts of pmChess distributions:
/builds/binaries
/builds/portable-jar
/builds/macOS/pmChess.app/Contents/Resources/pmChess
/builds/Windows/pmChess
/builds/Windows/pmChess.zip
